@model WebApp.Models.USERACCOUNT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ResPagesLayout.cshtml"; // the layout of the page
}
<style>
    /*where the css part of the page is */
    a { /*all the labels will have the following styling */
        color: black;
        background-color: transparent;
        text-decoration: none;
    }


        a:hover { /* styling when they are hovered*/
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }

        a:active { /* styling when they weren't clicked before */
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
</style>
<body>
    <!--Delete page title-->
    <h2><i class="fas fa-trash-alt"></i> Delete User Account</h2>
    <!--Asking the user if they want to delete-->
    <h3>Are you sure you want to delete this User?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                User Type: <!-- user type label-->
            </dt>

            <dd>
                <!--user type value-->
                @Html.DisplayFor(model => model.USERTYPE)
            </dd>

            <dt><!--first name label-->
                First Name:
            </dt>

            <dd><!--first name value-->
                @Html.DisplayFor(model => model.FIRSTNAME)
            </dd>

            <dt><!--last name label-->
                Last Name:
            </dt>

            <dd><!--last name value-->
                @Html.DisplayFor(model => model.LASTNAME)
            </dd>

            <dt><!--phone number label-->
                Phone Number:
            </dt>

            <dd><!--phone number value-->
                @Html.DisplayFor(model => model.PHONENUMBER)
            </dd>

            <dt><!--email address label-->
                Email Address:
            </dt>

            <dd><!--email address value-->
                @Html.DisplayFor(model => model.EMAILADDRESS)
            </dd>

            <dt><!--street number label-->
                Street Number:
            </dt>

            <dd><!--street number value-->
                @Html.DisplayFor(model => model.STREETNUMBER)
            </dd>

            <dt><!--postcode label-->
                Postcode:
            </dt>

            <dd><!--postcode value-->
                @Html.DisplayFor(model => model.POSTCODE)
            </dd>

            <dt><!--username label-->
                Username:
            </dt>

            <dd><!--username value-->
                @Html.DisplayFor(model => model.USERNAME)
            </dd>
            <dt><!--password label-->-->
                Password:
            </dt>

            <dd><!--password value-->
                @Html.DisplayFor(model => model.PASSWORD)
            </dd>

        </dl>

        <!--Form for the buttons-->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken() <!--Anti Forgery Token for security on over posting data-->
            <!--Back to list and delete button-->
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
                <p style="
                  text-align:center;
                  background-color:#DCDCDC;
                  padding: 10px;
                  margin-left: 10px;
                  margin-top: 10px;
                  margin:10px;
                  height:auto;
                  width: auto;
                  border-radius: 0.2em; overflow: hidden;
                  position: relative;
                  box-shadow: 0px 1.5px 5px rgba(0,0,0,0.35)">
                    <i class="fas fa-arrow-left"></i> @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        }
    </div>
</body>
