@model WebApp.Models.STATION

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ResPagesLayout.cshtml";
}
<style>
    /*where the css part of the page is */
    a { /*all the labels will have the following styling */
        color: black;
        background-color: transparent;
        text-decoration: none;
    }


        a:hover { /* styling when they are hovered*/
            color: red;
            background-color: transparent;
            text-decoration: underline;
        }

        a:active { /* styling when they weren't clicked before */
            color: yellow;
            background-color: transparent;
            text-decoration: underline;
        }
</style>
<body>
    <!--The title of the page with a user icon-->
    <h2><i class="fas fa-info-circle"></i> Station Details</h2>

    <!--container with the attributes label and their representative value-->
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Station ID:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.STATIONID)
            </dd>
            <dt>
                Station Name:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.STATIONNAME)
            </dd>

            <dt>
                Platforms:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PLATFORMS)
            </dd>

        </dl>
        <!--container with the edit button and back to list-->
        <div class="form-group">
            <p style="
                  text-align:center;
                  background-color:#DCDCDC;
                  padding: 10px;
                  margin-left: 10px;
                  margin-top: 10px;
                  margin:10px;
                  height:auto;
                  width: auto;
                  border-radius: 0.2em; overflow: hidden;
                  position: relative;
                  box-shadow: 0px 1.5px 5px rgba(0,0,0,0.35)">
                <i class="fas fa-edit"></i> @Html.ActionLink("Edit", "Edit", new { id = Model.STATIONID })
            </p>
            <p style="
                  text-align:center;
                  background-color:#DCDCDC;
                  padding: 10px;
                  margin-left: 10px;
                  margin-top: 10px;
                  margin:10px;
                  height:auto;
                  width: auto;
                  border-radius: 0.2em; overflow: hidden;
                  position: relative;
                  box-shadow: 0px 1.5px 5px rgba(0,0,0,0.35)">
                <i class="fas fa-arrow-left"></i> @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</body>